*, *,:after, *,:before {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

/*imagem*/
body {
	background-image: url(bg2.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
} 

.img {
	text-align: center;
}

.nav {
	display: grid;
	grid-template-columns: 25% 75%;
	margin;align-items: center;
	background-image: linear-gradient(to right, #A8DB92, lightblue, #A8DB92);
}
